<div id="<%= dom_id consulta_general %>">
  <p>
    <strong>Descripcion:</strong>
    <%= consulta_general.descripcion %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= consulta_general.fecha %>
  </p>

  

</div>
