<div id="<%= dom_id desparasitacion %>">
  <p>
    <strong>Nombre medicamento:</strong>
    <%= desparasitacion.nombre_medicamento %>
  </p>

  <p>
    <strong>Tipo de desparasitacion:</strong>
    <%= desparasitacion.tipo_medicamento %>
  </p>

  <p>
    <strong>Dosis:</strong>
    <%= desparasitacion.dosis %>
  </p>



</div>
