<h1>Editing desparasitacion</h1>

<%= render "form", desparasitacion: @desparasitacion %>

<br>

<div>
  <%= link_to "Show this desparasitacion", @desparasitacion %> |
  <%= link_to "Back to desparasitacions", desparasitacions_path %>
</div>
