<p style="color: green"><%= notice %></p>

<h1>Desparasitacions</h1>

<div id="desparasitacions">
  <% @desparasitacions.each do |desparasitacion| %>
    <%= render desparasitacion %>
    <p>
      <%= link_to "Show this desparasitacion", desparasitacion %>
    </p>
  <% end %>
</div>

<%= link_to "New desparasitacion", new_desparasitacion_path %>
