<h1>Editing castracion</h1>

<%= render "form", castracion: @castracion %>

<br>

<div>
  <%= link_to "Show this castracion", @castracion %> |
  <%= link_to "Back to castracions", castracions_path %>
</div>
