<p style="color: green"><%= notice %></p>

<h1>Castracions</h1>

<div id="castracions">
  <% @castracions.each do |castracion| %>
    <%= render castracion %>
    <p>
      <%= link_to "Show this castracion", castracion %>
    </p>
  <% end %>
</div>

<%= link_to "New castracion", new_castracion_path %>
