<h1>Editing vacunacion</h1>

<%= render "form", vacunacion: @vacunacion %>

<br>

<div>
  <%= link_to "Show this vacunacion", @vacunacion %> |
  <%= link_to "Back to vacunacions", vacunacions_path %>
</div>
