<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Campañas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-success p-2 text-dark bg-opacity-50 " >

  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-success p-2 text-white bg-opacity-25 border border-success p-2 mb-2" >
    <div class="container">

      <a class="navbar-brand" style="font-size: 35px;"> Campañas </a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
              <p1> Iniciar Sesión </p1>
            </div>
            </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Sección "Quiénes Somos" -->
  <div class="bg-light py-4 border border-success p-2 mb-2 bg-success p-2 text-white bg-opacity-25">
    <div class="container">
        <p class="text-center text-black">Apoyar a refugios y organizaciones dedicadas al cuidado de animales.
          A través de esta sección, los usuarios podrán contribuir realizando donaciones que ayudarán a financiar
          y respaldar diferentes campañas, proyectos y programas de los refugios para proporcionar cuidado,
          alimentación, atención veterinaria y un hogar seguro a perros en situación de vulnerabilidad.
          Juntos, podremos marcar la diferencia en la vida de estos leales compañeros, brindándoles una oportunidad
          de una vida mejor."
        </p>
    </div>
  </div>

  <!-- Sección de Servicios -->
  <div class="container-fluid my-5 ">
    <% if user_signed_in? && current_user.admin?  %>
      <div class="row gx-5">
        <div class="col-md-6">
          <div class="card mb-3 bg-success p-2 text-white bg-opacity-50">
            <%= link_to new_campana_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
              <div class="card-body">
                <h5 class="text-center text-black"> Publicar Campaña <h5>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row gx-5">
      <div class="col-md-6">
        <% if @campanas.empty?%>
          <h2 class="text-center"> No hay publicaciones de campañas</h2>
        <%else%>
          <div id="campanas">
            <% @campanas.each do |campana| %>
              <li class="cuidador-item">
                <%= render campana %>
              </li>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

</body>
</html>
