<p style="color: green"><%= notice %></p>

<h1>Campanas</h1>

<div id="campanas">
  <% @campanas.each do |campana| %>
    <%= render campana %>
    <p>
      <%= link_to "Show this campana", campana %>
    </p>
  <% end %>
</div>

<!--
<%= link_to "New campana", new_campana_path %>
-->
