<%= link_to 'volver', encontrados_path, class: "btn btn-primary" %>


<%= render 'shared/formularioperdido' %>

<div class="mensaje-informativo">
  <h3>Antes de completar el formulario, por favor ten en cuenta lo siguiente:</h3>
  <ul>

    <li>Proporciona información precisa y detallada sobre el perro perdido.</li>
    <li>Añade una foto clara del perro. </li>
  </ul>
</div>
