<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Solicitud de Contacto de un Usuario</h1>
  <p>Nombre del usuario: <%= @solicitud.nombre %></p>
  <p>Correo electrónico del usuario: <%= @solicitud.email %></p>
  <p>Mensaje del usuario: <%= @solicitud.mensaje %></p>
</body>
</html>
