/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* application.css */

 nav {
   background-color: #333; /* Color de fondo de la barra de navegación */
   color: #fff; /* Color del texto */
   padding: 10px 0; /* Espacio de relleno en la parte superior e inferior */
 }

 .nav-list {
   list-style: none; /* Elimina los puntos de la lista */
   display: flex; /* Muestra los elementos de la lista en línea */
   padding: 0;
   margin: 0;
 }

 .nav-item {
   margin-right: 20px; /* Espacio entre elementos de la lista */
 }

 .nav-link {
   text-decoration: none; /* Elimina la subrayado de los enlaces */
   color: #fff; /* Color del texto de los enlaces */
 }
