/* Estilos para la barra de navegación */
.navbar {
  background-color: #333;
  color: #fff;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

/* Estilos para el menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.nav-item:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #444;
}
