<!DOCTYPE html>
<html>
  <head>
    <title>VeterinariaOhMyDog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
  <h1>Veteriana Oh my dog</h1>
  <h3>Perros Perdidos</h3>
  <body>
    <%= yield %>
  </body>
</html>
